/*font-family: 'Alfa Slab One', cursive;
font-family: 'Lato', sans-serif;*/
footer{
    background-color: rgb(152, 152, 188);

}
#footer-text{
    font-family: 'Lato', sans-serif;
    text-align: center;

}
#historia{
    background-image:url(img/ERNO.jpg);
}