/*font-family: 'Alfa Slab One', cursive;
font-family: 'Lato', sans-serif;*/
html{
    font-size: 20px;
}
main{
    margin-top:10%;
    
                                                   
}
section{
    box-shadow: 6px 5px 7px 5px rgba(0,0,0,0.2) ;
}   
main>*{
    margin-left: 7%;
    width:75vw;
    
    
}
#introdución-historia{
   background-image:url(img/ERNO.jpg);
   background-repeat: no-repeat;
   background-size:cover;
    width:100%;
   height:100vh;
   display:flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-end;
   
  
}

footer{
    background-color: rgb(152, 152, 188);

}
#footer-text{
    font-family: 'Lato', sans-serif;
    text-align: center;

}

.titulo{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;

    
}
.texto{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}
.texto-img{
    text-align: center;
    font-family:'Alfa Slab One', cursive ;
    color: rgba(0, 0, 0, 0.623);
}
.carousel-inner>.item>figure>img{
    height: 150px !important;
    width: auto;
    margin: auto;
}
figure{
    position: relative;
    
    width: 40%;
    
}
figcaption{
    background-color: none;
    position: absolute;
    top:0;
    display:none;
    padding-top:20%;
    padding-left: 7%;
    width:50%;
    height:100%;
    text-align: center;
    
}
figcaption>h1,p{

    font-size: 2rem;
}
.c-slide{
    width:100%;
    
}
figure:hover figcaption{
    background-color: rgba(0, 0, 0,0.4);
    display: block;
    color:white;
    width:100%;
    -ms-text-size-adjust: 50%;
   
    
}
 
.c-img{
    width:110%;
    height:800px;
    object-fit:cover;
}
.c-figure{
    width:100%;
    height:100%;
}



#carrusel>figure{
    width: 800px;
    height: 803px;
}
#carrusel>h1{
    text-align: center;
    
    
}
.actualidad{
    background-color:rgba(170, 156, 156, 0.346);
    
    margin-right: 25%;
    padding-right: 5%;
    
   

}

.WCA-historia{
    display:flex; 
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 5% 5%;


}
.WCA-historia>img{
    width:700px;
    height:570px;
    margin-left: 2%;
    object-fit: cover;
    

}
/* .categorias{
    
} */
.item_lista{
    display: block;
}
.explicacion{
    display:inline-block;
    width:800px;
    height:100vh;
    border-color: black;
}
#logo-img{
    width: 900px;
    height: 500px;
    margin-left:6.5%;
    margin-bottom: 1%;
    object-fit: cover;
}
.card-link{
    text-decoration: none;
    
}
.noticias{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,
    minmax(150px,1fr)
    );

}
.card{
 width:80% !important;
 height:auto;
 box-shadow: 3px 13px 48px -1px rgba(0,0,0,0.65);
 -webkit-box-shadow: 3px 13px 48px -1px rgba(0,0,0,0.65);
 -moz-box-shadow: 3px 13px 48px -1px rgba(0,0,0,0.65);;
}